.menu {
  text-align: left;
  margin-top: 10px;

  .active {
    a {
      color: #20b876,
    }
  }

  li {
    margin-bottom: 15px;
    color        : #8c8c8cb8;

    a {
      color: inherit;
    }
  }

}