.header {
  height     : 60px;
  background : #fff;
  box-shadow : 0 1px 2px 0 rgba(0, 0, 0, .06);
  line-height: 60px;
  display    : flex;

  .left {
    box-sizing  : border-box;
    flex-shrink : 0;
    width       : 200px;
    padding-left: 10px;

    .logo {
      color      : #20b876;
      font-weight: bold;
    }
  }

  .right {
    width: 100%;

    .holder {
      width   : 300px;
      position: relative;

      input {
        background   : #f3f3f3;
        border       : none;
        border-radius: 4px;
        height       : 25px;
        outline      : none;
        width        : 100%;
      }

      .searchList {
        background   : white;
        border-radius: 4px;
        padding      : 10px;
      }
    }
  }
}